@charset "UTF-8";

body{
    font-family: "Yu Mincho",serif;
    font-size: 18px;
    margin: 0;
} 
p{
    margin:0;
}
/*------------------
ここから#box_wrapper
------------------*/
#box_wrapper{
    width: 100%;
    height: 100%;
}
#box_wrapper a{
    text-decoration: none;
    color: #000;
}
#box_wrapper .bgc{
    background: linear-gradient(180deg,rgba(0,0,0,0.4), transparent);
    width: 100%;
    /*箱の中に影をつける*/
    padding: 55px 0;
}
/*------------------
ここから.grid_box
------------------*/
#box_wrapper .grid_box{
    display:grid;
    grid-template-columns: repeat(3, 1fr)auto;
    grid-template-rows: 100% 4fr 1fr;
    grid-auto-rows: 100%;
}
#box_wrapper .grid_box p{
    font-size: 1.1rem;
}
#box_wrapper .grid_box >div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#box_wrapper .grid_box h2{
    margin: 0;
    font-size: 1.7rem;
}
#box_wrapper .grid_box .title_name{
    margin: 0 35px;
    padding-top: 10px;
}
/*--------------------------
ここから.box1,2,3
----------------------------*/
#box_wrapper .box1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image:url(../img/box/turituri.jpg) ;
    color:#fff;
    height: 400px;
}
#box_wrapper .box2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url(../img/box/makimk3.jpg);
    color:#fff;
    height: 400px;
}

#box_wrapper .box3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 1;
    background-image: url(../img/box/hito.jpg);
    color:#fff;
    height: 400px;
}
/*------------------
画面を縮めた場合
--------------------*/
@media screen and (max-width: 1115px){
    #box_wrapper .title_name  span{
        display:flex;
        flex-wrap:wrap;
    }
    #box_wrapper .title_name p .delete{
        display: none;
    }
    #box_wrapper .box2 .bgc {
        padding: 28px 0;
    }

}

/*-----------------------------------
レスポンシブデザイン
-------------------------------------*/
@media screen and (max-width: 768px){
    #box_wrapper .grid_box{
        display: block; 
    }
    #box_wrapper .box1{
        height: 250px;
    }
    #box_wrapper .box2{
        height: 250px;
    }
    #box_wrapper .box3{
        height: 250px;
    }
    #box_wrapper .bgc{
        padding: 20px 0 0 0;
    }
    #box_wrapper .title_name p{
        display: flex;
        font-size: 0.9rem;
    }
    #box_wrapper .title_name h2{
        display: flex;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 330px){
    #box_wrapper .title_name p{
        display: block;
    }
    #box_wrapper .title_name h2{
        display: block;
    }
}