@charset "UTF-8";
html,body{
  margin: 0;
  padding: 0;
}
#contact body {
  width: 100%;
  margin: 0;
  overflow-y: scroll;
}

#contact .border {
  border: #000 1px solid;
  padding: 1.5rem 1.5rem;
}
#contact .heading {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.2rem;
}


/* -------------main------------- */
#contact main {
  margin-top: 150px;
  width: 60%;
  margin: 150px auto 0;
}
#contact .contact_top_midashi {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#contact .contact_top_midashi h1 {
  margin: 0;
  font-size: 2.2rem;
  letter-spacing: 0.2em;
  justify-content: center;
}#contact .contact_top_midashi p {
  margin: 0;
}
#contact .contact_top_midashi div {
  margin: 7rem auto;
}
#contact main section {
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  margin: auto;
}
#contact .order {
  margin-bottom: 3rem;
}
#contact .order_info {
  display: flex;
}
#contact .border p {
  margin: 0 2rem 1rem;
}
#contact .logo img {
  width: 4rem;
}
#contact .logo {
  display: inline;
}
#contact .required {
  position:relative;
  margin-left: 3rem;
}
#contact .required:before {
  position:absolute;
  left: -3rem;
  top: -1.5rem;
	content:"";
	display:inline-block;
	width:3em;
	height:3em;
	background:url(../image/logo1-04.png) no-repeat;
	background-size:contain;
}
#contact #contact_form div {
  display: flex;
  margin: 2rem 0 0 3rem;
  text-align: center;
  vertical-align: middle;
}
#contact #contact_form p {
  width: 40%;
  text-align: left;
  margin: 1rem 0;
}
#contact .form_section, #contact .scroll {
  margin-top: 5rem;
}
#contact .form_description {
  text-align: center;
}
#contact .form_description p {
  display: inline;
}
#contact .list {
  padding: 3rem 0 4rem;
  letter-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.4);
}
#contact .list .current {
  color: rgba(0, 0, 0, 1);
}
#contact #contact_form .content {
  width: 60%;
}
#contact #contact_form input {
  height: 2rem;
  margin-top: 0.5rem;
}
#contact #contact_form textarea {
  height: 10rem;
}
#contact .scroll h3{
  margin: 2rem 0 0.5rem;
  font-weight: normal;
}
#contact .border p, #contact .scroll {
  line-height: 140%;
}
/* ----------スクロールバー----------- */
.container {
  border: solid #000 1px;
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 20rem;
}
.adjustment {
  margin-right: 25px;
  padding: 2em;
}
.scrollable {
  margin-right: -17px;
  padding-right: 17px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.scrollable.is-scrollbar {
  padding-right: 0;
}
.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25px;
  border-left: solid #000 1px;
}
.scrollbar-thumb {
  min-height: 50px;
  background-color: #707070;
  border-radius: 100vh;
  margin: 0.6rem 0.3rem;
}
/* ---------------------------------- */
#contact #agree {
  margin: 0.5rem;
}
#contact .submit_confirm {
  margin-top: 2.3rem;
  text-align: center;
}
#contact .submit_btn {
  background-color: #000;
  color: #fff;
  width: 70%;
  height: 2.5rem;
  margin: 2.7rem;
}

@media screen and (max-width: 1000px){
  #contact main {
    width: 80%;
  }
  #contact .form_section .hidden_element {
    display: none;
  }
}
@media screen and (max-width: 615px) {
  #contact .order_info {
    display: block;
    margin-top: 2rem;
  }
  #contact .required:before {
    position:absolute;
    left: -3rem;
    top: -1.5rem;
    content:"";
    display:inline-block;
    width:3em;
    height:3em;
    background:url(../image/logo1-04.png) no-repeat;
    background-size:contain;
  }
}
@media screen and (max-width: 480px){
  #contact main {
    width: 85%;
  }
  #contact .form_section .hidden_element {
    display: none;
  }
  #contact .form_description .list p {
    display: block;
  }
}