@charset "UTF-8";
html,body{
  font-family: "Yu Mincho";
  margin: 0;
  padding: 0;
}
#project body {
  width: 100%;
  margin: 0;
}
#project #project_top {
  width: 100%;
  height: 590px;
  background-size: cover;
  background-image: url('../images/ringyo-min.jpg');
  position: relative;
  background-position: center center;
}
#project #project_top::before {
  content:  "";
  width:  2px;
  height: 122px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  left: 50%;
  bottom: -60px;
  z-index: 99;
}
#project .logo img {
  position: absolute;
  width: 7%;
  margin: 40px 0 0 30px;
}
#project .top_midashi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#project .top_midashi h2 {
  margin: 0;
  font-size: 2.2rem;
  letter-spacing: 0.2em;
  text-shadow: 1px 2px 5px #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#project .top_midashi h2 span {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0.7em;
}
/* -------------main------------- */
#project .project_overview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 130px auto 100px;
}
#project .project_overview .left {
  width: 50%;
  display: flex;
  justify-content: center;
}
#project .project_overview .left h3 {
  font-size: 2.2rem;
  margin: 0;
  letter-spacing: 0.2em;
  color: #A3C2D7;
}
#project .project_overview .right {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}
#project .project_overview .right p {
  margin: 0;
}
#project #project_title .left div {
  display: flex;
  flex-direction: column;
}
#project #project_title .left p {
  display: inline-block;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 1.1rem;
}
#project #project_title .left h3 {
  display: inline-block;
}
#project #project_title .left h3 span {
  font-size: 1.5em;
  letter-spacing: 0.2em;
}
#project #project_title .right p {
  margin-top: 3.3rem;
}
#project .project_midashi_image {
  width: 100%;
  height: 50vh;
  min-height: 300px;
  background-size: cover;
}
#project .project1_midashi {
  background-image: url('../images/ringyo2-min.JPG');
}
#project .project2_midashi {
  background-image: url('../images/mori_class-min.JPG');
}
#project .project3_midashi {
  background-image: url('../images/human_climb-min.JPG');
}
#project .project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#project p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  text-align: left;
}
#project p span {
  font-size: 1.2rem;
}
/*------------------
ここから#box_wrapper
------------------*/
#box_wrapper{
  width: 100%;
  height: 100%;
}
#box_wrapper a{
  text-decoration: none;
  color: #000;
}
#box_wrapper .bgc{
  background: linear-gradient(180deg,rgba(0,0,0,0.4), transparent);
  width: 100%;
  /*箱の中に影をつける*/
  padding: 55px 0;
}
/*------------------
ここから.grid_box
------------------*/
#box_wrapper .grid_box{
  display:grid;
  grid-template-columns: repeat(3, 1fr)auto;
  grid-template-rows: 100% 4fr 1fr;
  grid-auto-rows: 100%;
}
#box_wrapper .grid_box p{
  font-size: 1.1rem;
}
#box_wrapper .grid_box >div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#box_wrapper .grid_box h2{
  margin: 0;
  font-size: 1.7rem;
}
#box_wrapper .grid_box .title_name{
  margin: 0 35px;
  padding-top: 10px;
}
/*--------------------------
ここから.box1,2,3
----------------------------*/
#box_wrapper .box1{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  background-image:url(../img/box/turituri.jpg) ;
  color:#fff;
  height: 400px;
}
#box_wrapper .box2{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background-image: url(../img/box/makimk3.jpg);
  color:#fff;
  height: 400px;
}

#box_wrapper .box3{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 1;
  background-image: url(../img/box/hito.jpg);
  color:#fff;
  height: 400px;
}
@media screen and (max-width: 768px) {
  #project .top_midashi {
    height: 60vh;
    min-height: 400px;
  }
  #project #project_top {
    height: auto;
    background-image: url(../images/ringyo-min-mob.JPG);
  }
  #project #project_top::before {
    display: none;
  }
  #project .project_overview {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
  }
  #project .project_overview .left,
  #project .project_overview .right {
    justify-content: flex-start;
    width: 100%;
  }
  #project #project_title .left p {
    font-size: 1.8rem;
    margin-bottom: 1em;
  }
  #project #project_title .left h3 span {
    font-size: 1.2em;
  }
  #project #project_title .left h3 {
    font-size: 10vw;
    letter-spacing: 0.1rem;
    line-height: 1.2;
  }
  #project p {
    font-size: 1.5rem;
  }
  #project .project1_midashi {
    background-image: url('../images/ringyo2-mob.JPG');
    height: 330px;
  }
  #project .project2_midashi {
    background-image: url('../images/mori_class-mob.JPG');
    height: 330px;
  }
  #project .project3_midashi {
    background-image: url('../images/human_climb-mob.jpg');
    height: 330px;
  }
  #project .project_overview .left h3 {
    font-size: 2.8rem;
    margin-bottom: 70px;
}
}
/*------------------
画面を縮めた場合
--------------------*/
@media screen and (max-width: 1115px){
  #box_wrapper .title_name  span{
      display:flex;
      flex-wrap:wrap;
  }
  #box_wrapper .title_name p .delete{
      display: none;
  }
  #box_wrapper .box2 .bgc {
      padding: 28px 0;
  }

}

/*-----------------------------------
レスポンシブデザイン
-------------------------------------*/
@media screen and (max-width: 768px){
  #box_wrapper .grid_box{
      display: block; 
  }
  #box_wrapper .box1{
      height: 250px;
  }
  #box_wrapper .box2{
      height: 250px;
  }
  #box_wrapper .box3{
      height: 250px;
  }
  #box_wrapper .bgc{
      padding: 20px 0 0 0;
  }
  #box_wrapper .title_name p{
      display: flex;
      font-size: 0.9rem;
  }
  #box_wrapper .title_name h2{
      display: flex;
      font-size: 1.4rem;
  }
}

@media screen and (max-width: 330px){
  #box_wrapper .title_name p{
      display: block;
  }
  #box_wrapper .title_name h2{
      display: block;
  }
}
