@charset "UTF-8";
html,body{
  font-family: "Yu Mincho";
  margin: 0;
  padding: 0;
}
#about body {
  width: 100%;
  margin: 0;
}
#about #about_top {
  width: 100%;
  height: 60vh;
  background-image: url(../images/bob1213pb2101110567.jpg);
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url('../images/bob1213pb2101110567.jpg');
  position: relative;
}
#about #about_top::before {
  content:  "";
  width:  2px;
  height: 122px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  left: 50%;
  bottom: -60px;
  z-index: 99;
}
#about .logo img {
  position: absolute;
  width: 7%;
  margin: 40px 0 0 30px;
}
#about .about_top_midashi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#about .about_top_midashi h2 {
  margin: 0;
  font-size: 2.7rem;
  letter-spacing: 0.2em;
  text-shadow: 1px 2px 5px #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about .about_top_midashi h2 span {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0.7em;
} 
/* -------------main------------- */
#about main section {
  text-align: center;
}
#about main section div {
  width: 46%;
  margin: auto;
}
#about main .first_content {
  position: relative;
}
#about main .first_content::after {
  content:  "";
  width:  2px;
  height: 220px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  left: 50%;
  bottom: -295px;
  z-index: 99;
  margin-top: 80px;
}
#about main section h1 {
  font-size: 2.8rem;
  letter-spacing: 0.2em;
  margin: 125px 0 55px 0;
  /* position: relative; */
}
/* #about main section h1::before {
  content:  "";
  width:  2px;
  height: 220px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  left: 50%;
  bottom: -580px;
  z-index: 99;
  margin-top: 80px;
} */
#about main section p {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  text-align: left;
}
#about main section h3 {
  font-size: 2.1rem;
  letter-spacing: 0.2em;
  margin: 364px 0 100px 0;
  position: relative;
}
#about main section h3::before {
  content:  "";
  width:  100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  top: 75px;
  z-index: 99;
}
#about main section:last-of-type {
  margin-bottom: 250px;
}


/* ----------メディアクエリ-------- */


@media screen and (max-width: 1070px){
  #about main section h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px){
  #about #about_top::before {
    content:  none;
  }

  #about .about_top_midashi h2 {
    font-size: 1.7rem;
  }
  #about .about_top_midashi h2 span {
    font-size: 1rem;
  } 

  #about main section div {
    width: 80%;
  }
  #about main section h1 {
    font-size: 1.8rem;
  }
  #about main section p {
    font-size: 0.9rem;
  }
  #about main section h3 {
    font-size: 2rem;
    display: inline-block;
  }

  #about main .first_content::after {
    height: 190px;
    bottom: -260px;
  }
}
@media screen and (max-width: 405px){
  #about main section h1 {
    font-size: 1.5rem;
  }#about main .first_content::after {
    height: 130px;
    bottom: -205px;
  }
  #about main section h3 {
    font-size: 1.5rem;
    margin: 280px 0 80px 0;
  }
  #about main section h3::before {
    width:  145px;
    top: 50px;
  }
}
@media screen and (max-width: 320px){
  #about main section h1 {
    font-size: 1.4rem;
  }
}