@charset "UTF-8";
html,body{
  font-family: "Yu Mincho";
  margin: 0;
  padding: 0;
}
#about body {
  width: 100%;
  margin: 0;
}
#about #about_top {
  width: 100%;
  height: 60vh;
  background-image: url(../images/bob1213pb2101110567.jpg);
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url('../images/bob1213pb2101110567.jpg');
  position: relative;
}
#about #about_top::before {
  content:  "";
  width:  2px;
  height: 122px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  left: 50%;
  bottom: -60px;
  z-index: 99;
}
#about .logo img {
  position: absolute;
  width: 7%;
  margin: 40px 0 0 30px;
}
#about .about_top_midashi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#about .about_top_midashi h2 {
  margin: 0;
  font-size: 2.7rem;
  letter-spacing: 0.2em;
  text-shadow: 1px 2px 5px #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about .about_top_midashi h2 span {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0.7em;
} 
/* -------------main------------- */
#about main section {
  text-align: center;
}
#about main section div {
  width: 46%;
  margin: auto;
}
#about main .first_content {
  position: relative;
}
#about main .first_content::after {
  content:  "";
  width:  2px;
  height: 220px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  left: 50%;
  bottom: -295px;
  z-index: 99;
  margin-top: 80px;
}
#about main section h1 {
  font-size: 2.8rem;
  letter-spacing: 0.2em;
  margin: 125px 0 55px 0;
}
#about main section p {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2.5em;
  text-align: left;
}
#about main section h3 {
  font-size: 2.1rem;
  letter-spacing: 0.2em;
  margin: 364px 0 100px 0;
  position: relative;
}
#about main section h3::before {
  content:  "";
  width:  191px;
  height: 1px;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  top: 75px;
  z-index: 99;
}
#about main section:last-of-type {
  margin-bottom: 250px;
}


/* ----------メディアクエリ-------- */


@media screen and (max-width: 1070px){
  #about main section h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px){
  #about #about_top::before {
    content:  none;
  }

  #about .about_top_midashi h2 {
    font-size: 1.7rem;
  }
  #about .about_top_midashi h2 span {
    font-size: 1rem;
  } 

  #about main section div {
    width: 80%;
  }
  #about main section h1 {
    font-size: 1.8rem;
  }
  #about main section p {
    font-size: 0.9rem;
  }
  #about main section h3 {
    font-size: 2rem;
  }

  #about main .first_content::after {
    height: 190px;
    bottom: -260px;
  }
}
@media screen and (max-width: 405px){
  #about main section h1 {
    font-size: 1.5rem;
  }#about main .first_content::after {
    height: 130px;
    bottom: -205px;
  }
  #about main section h3 {
    font-size: 1.5rem;
    margin: 280px 0 80px 0;
  }
  #about main section h3::before {
    width:  145px;
    top: 50px;
  }
}
@media screen and (max-width: 320px){
  #about main section h1 {
    font-size: 1.4rem;
  }
}

/*ここからグリッドボックスの設定*/
#box_wrapper .grid_box{
  display:grid;
  grid-template-columns: repeat(3, 1fr)auto;
  grid-template-rows: 50% 4fr 1fr;
  grid-auto-rows: 50%;
}
/*グリッドボックスの中の画像の設定*/
#box_wrapper .grid_box >div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#box_wrapper .grid_box h2,h3{
  margin: 0;
}
#box_wrapper .grid_box .title_name{
  margin-left: 40px;
  padding-top: 30px;
  color: #fff;
}
#box_wrapper .box1{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 75%;
  margin: auto auto;
  height: 500px;
}
#box_wrapper .box1 h2{
  padding-bottom: 10%;
}
#box_wrapper .box1 h3{
  padding-top: 10%;
}
#box_wrapper .box1 p{
  line-height: 2;
  overflow-wrap: break-word;
}
#box_wrapper .box1 .word::after{
 content:"";
 width:calc(100% - 165px);
 height: 1px;
 margin-left:10px;
 display: inline-block;
 background-color: #707070;
}
#box_wrapper .box1 a::before{
 content:"";
 width:calc(100% - 75px);
 height: 1px;
 margin-right: 10px;
 display: inline-block;
 background-color: #707070;
}
#box_wrapper a,a::before{
  transition: text-shadow .5s;
  text-decoration: none;
  color: #000;
}
#box_wrapper a:hover{
  text-shadow: 4px 4px 4px  rgb(0 0 0 / 40%);
}
/*画像に暗い幕をつける*/
#box_wrapper .bgc{
  background: linear-gradient(180deg,rgba(0,0,0,0.4), transparent);
  width: 100%;
  height: 100%;
}
#box_wrapper .box2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image:url(../img/box/turituri.jpg) ;
  height: 300px;
}
#box_wrapper .box3{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  background-image: url(../img/box/makimk3.jpg);
  height: 300px;
}
#box_wrapper .box4{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  background-image: url(../img/box/hito.jpg);
  height: 300px;
}
/*.title_name pの疑似要素設定*/
#box_wrapper .title_name p::after{
  content:"";
  height: 1px;
  margin-left:10px;
  display: inline-block;
  background-color: #fff;
}
#box_wrapper .box2 p::after{
  width: 25%;
}
#box_wrapper .box3 p::after{
  width:calc(100% - 300px);
}
#box_wrapper .box4 p::after{
  width: 25%;
}

/*box1の余白と文字段落ちと疑似要素の調整*/
@media screen and (max-width:915px){
  #box_wrapper .box1{
      margin:0 auto;
  }
  #box_wrapper .box1 h2{
      font-size: 1.3rem;
  }
  #box_wrapper .title_name p::after{
      display: none;
  }
  #box_wrapper .title_name  span{
      display:flex;
      flex-wrap:wrap;
  }

}
/*common_contact*/
.common_contact{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.common_contact h2{
  font-size: 1.8rem;
}
.common_contact p:first-of-type:before{
  content: "";
  width: 170px;
  height: 1.8px;
  background: rgba(0,0,0,1);
  position: absolute;
  left: 20%;
  bottom: 55px;
  z-index: 99;
}
.common_contact p{
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.common_contact p:first-of-type{
  position: relative;
  padding-top: 20px;
}
.common_contact a{
  border: 1px solid #000000;
  padding: 10px 70px ;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-top: 50px;
  text-decoration: none;
  transition: 1s;
}
.common_contact a:hover{
  background-color: rgba(205,205,205,1);
}
.common_contact p:last-of-type{
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.common_contact address{
  margin-top: 50px;
  font-size: 1.3rem;
  font-style: normal;
}
/*common_map*/
.common_map iframe{
  width: 100%;
  margin-bottom: 150px;
}

#gfoot{
  background-image:url(../image/footer/mori.png);
  background-size:cover;
  background-position:center center;
  position:relative;
  font-weight:bold;
}
#gfoot::before{
  content:"";
  width:1.5px;
  height:105px;
  background:rgba(0,0,0,0.4);
  position:absolute;
  left:50%;
  top:-55px;
  z-index:99;
}
#gfoot .back_cover{
  position:absolute;
  width: 100%;
  height:100%;
  background:rgba(255,255,255,0.8);
}
#gfoot .foot_left img{
  width:70%;
  margin-top:90px;
  position: relative;
}
#gfoot .foot_center{
  margin-top:70px;
  position:relative;
  right: 75px;
}
#gfoot .foot_center a{
transition: text-shadow .5s;
}
#gfoot .foot_center a:hover{
  text-shadow: 0 4px 4px rgba(0,0,0,0.4);

}
#gfoot .foot_center .policy{
  margin:50px 0 50px 0;
  font-size:0.75rem;
}

/*--------------------------------------
  .foot_right
----------------------------------------*/
#gfoot .foot_right{
  margin-top: 100px;
  position: relative;
  right:40px;
}
#gfoot #foot_activities{
  margin:0;
  font-size: 1.5rem;
  padding: 0 10px;
}
#gfoot #foot_kirikiri{
  margin:0;
  font-size: 3.5rem;
  padding: 0px 10px;
}
#gfoot #foot_tel{
  font-size:1.5rem;
  margin:25px 0 0 0;
  letter-spacing: 0.3em;
}
#gfoot #foot_reception{
  margin:0;
  letter-spacing: 0.1em;
}
#gfoot #foot_post{
  margin: 30px 0 0 0;
  letter-spacing: 0.5em;
}
#gfoot #foot_copy{
  margin-top: 41px;
  letter-spacing: 0.1em
}
#gfoot #foot_address{
  margin:0px;
}
#gfoot #foot_address span{
  letter-spacing: 0.2em;
}
/*ここまでfoot_right*/
#gfoot #foot_flex{
  display:flex;
  justify-content:space-around;
  position:relative;
}
#gfoot a{
  text-decoration:none;
  color:black;
}