@charset "UTF-8";
html{
    font-size:16px;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Yu Mincho",serif;
}
/*---------------------
    ここから#membership
-----------------------*/
#membership{
    width: 100%;
}
#membership .membership_class p{
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.05rem;
}
#membership h3{
    font-size: 1.4rem;
    margin: 0;
}
#membership .membership_midashi{
    width: 100%;
    height: 50vh;
    background-image: url(../img/membership.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#membership .membership_midashi .midashi_back{
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#membership .membership_midashi h2{
    margin: 0;
    letter-spacing: 0.2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#membership .membership_midashi h2 span{
    font-size: 1.5rem;
    width: 100%;
    text-align:center;
    margin-bottom: 0.7rem;
}
#membership .membership_midashi h2 #midashi_span span{
    font-size: 2rem;
}
/*------------------------------
ここからmain_section
-------------------------------*/
#membership_main .main_section p{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0 180px;
}
#membership_main .main_section .delete{
    display:none;
}
#membership_main .main_section p span{
    width: 100%;
    text-align: center;
}
#membership_main .main_section  ul{
    display:flex;
    justify-content: space-between ;
    margin: 0 80px;
    padding: 0;
}
#membership_main .main_section  ul li{
    list-style: none;
    border-bottom:solid 2px #ff0000 ;
}
#membership_main .main_section  ul li a{
    text-decoration:none;
    color: #ff0000;
    font-weight: bold;
}
#membership_main .main_section  ul li .font_option{
    margin: 0 18px;
}

/*--------------------------
ここからmembership_main
----------------------------*/
#membership_main .membership_class{
    width: 80%;
    margin: 0 auto;
    margin-top:130px;
}

/*---------------------------
ここからdonate_section
-----------------------------*/
#membership_main .donate_section{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
#membership_main .donate_section .title_width{
    width:40%;
}
#membership_main .donate_section .title_color{
    color: #ff0000;
    margin: 0 0 40px;
}
#membership_main .donate_section .title_color span{
    border-bottom:solid 2px #ff0000 ;
}
#membership_main .donate_section .title_margin{
    margin: 0 0 9px 0;
    border-bottom: solid 1px #ff0000;
    max-width: 139px;
}
#membership_main .donate_section .button_surround{
    margin: 110px 0 0 0;
}
#membership_main .donate_section .disappear{
    display: none;
}
#membership_main .donate_section .move{
    display: inline-block;
    text-decoration: none;
    background: #ff0000;/*ボタン色*/
    color: #fff;
    border: solid 2px #fff;
    border-radius: 20px;
    transition: .4s;
    width: 200px;
    height:40px ;
}
#membership_main .donate_section .move:hover{
    background:#333;/*ホバーしたときの色*/
    color: #fff;
}
/*--------------------------
ここからcontainer
--------------------------*/
#membership_main .container{
    width:50%;
    height: 280px;
    border:solid 2px #707070;
    background-color:#fff;
    border-radius: 50px;
}
#membership_main .container p{
    margin: 0;
}
#membership_main .container h3{
    margin: 20px 10px 30px 0;
    color: #ff0000;
}
#membership_main .container .container_title {
    width: 88%;
    margin: auto;
}
#membership_main  .container .container_title p{
    margin: 0 0 30px 0;
}
#membership_main .container .container_flex{
    display:flex;
    justify-content: space-around;
    color: #ff0000;
    margin: 0 0 25px 0;
}

#membership_main .container .container_flex div{
    background-color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    font-weight: bold;
}
/*---------------------------
ここからtable_itmes
----------------------------*/
#membership_main .table_items{
    width: 90%;
    height: 90%;
    margin: auto;
    border-collapse:collapse;
}
#membership_main .table_items td{
    color: #ff0000;
}
#membership_main .table_items th{
    width: 108px;
    color: #ff0000;
    font-size:0.7rem;
    font-weight: normal;
}
#membership_main .table_items th span{
    color: #fff;
    line-height: 1.3;
    background:#ff0000;
    vertical-align: middle;
    border-radius:0.9rem;
    font-size:1.5vw;
    padding: 2px 10px;
}
#membership_main .table_items .narrow{
    width: 60px;
}
#membership_main .table_items td{
    text-align: center;
}
#membership_main .table_items tr td:not(:last-child){
    border-right: solid  1px #707070;
}
#membership_main .table_items tr:nth-child(even) td{
    border-bottom: solid  1px #707070;
}
#membership_main .table_items tr:nth-child(3) td{
    border-bottom: solid 10px #fff ;
/*真ん中のtdに間を開ける方法*/
}
#membership_main .table_items .table_responsive{
    visibility: hidden;
    width: 0;
    height: 0;

}
/*--------------------------
ここからcontainer_box
-----------------------------*/
#membership_main .container_box{
    width: 50%;
    /*.imgの箱の大きさ*/
}
#membership_main .container_box .image{
    background-image: url(../img/Purchase.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:50px ;
    width: 100%;
    height: 280px;
}

@media screen and (max-width: 995px){
    #membership_main .container{
        width: 58%;
    }
    #membership_main .container_box{
        width: 58%;
    }
}
/*スマホ版に切り替わるwhithが768px*/
@media screen and (max-width: 768px){
    #membership .membership_midashi{
        background:none;
    }
    #membership .membership_midashi h2{
        width: 60%;
    }
    #membership .membership_midashi h2 span{
        text-align: left;
    }
    #membership .membership_midashi h2 #midashi_h2{
        margin-bottom: 50px;
    }
    #membership .membership_midashi h2 #midashi_span{
        display: flex;
        flex-wrap: wrap;
    }
    #membership_main .main_section ul{
        display: none;
    }
    #membership_main .main_section p{
        margin: 0;
        justify-content: left;
    }
    #membership_main .main_section p span{
        text-align: left;
    }
    #membership_main .main_section .delete{
        display:block;
        width: 80%;
        margin: auto;
    }
    #membership_main .main_section #div_p{
        display: none;
    }
    #membership_main .main_section .delete p{
        margin-bottom:20px ;
    }
    #membership_main .membership_class{
        margin-top: 0px;
    }
    #membership_main .donate_section{
        display: block;
        margin: 90px auto;
        width: 80%;
    }
    #membership_main .container{
        width: auto;
        border: none;
    }
    #membership_main .container h3{
        display: none;
    }
    #membership_main .container .container_flex{
        flex-wrap: wrap;
        justify-content: left;
        width: 70%;
        margin-left: 20px;
    }
    #membership_main .container .container_flex div{
        padding: 20px;
        margin-bottom: 20px ;
    }
    #membership_main .container .container_flex div p{
        font-size: 1.1rem;
    }
    #membership_main .donate_section .title_width{
        width: auto;
        margin-bottom:80px ;
    }
    #membership_main .donate_section .title_margin{
        max-width: 170px;
    }
    #membership_main .table_items .table_delete{
        display: none;
    }
    #membership_main .table_items .table_responsive{
        visibility: visible;
    }
    #membership_main .table_items th span{
        font-size: 0.6rem;
    }
    #membership_main .container_box .image{
        width: 170%;
        height: 200px;   
    }
    #membership_main #button_delete{
        display: none;
    }
    #membership_main .donate_section .disappear{
        display: block;
        margin-top: 100px;
    }
}
@media screen and (max-width: 470px){
    #membership_main .main_section{
        width: 90%;
        margin: auto;
    }
    #membership_main .main_section .delete{
        width: 110%;
    }
    #membership_main .donate_section .title_margin{
        max-width: 166px;
    }
    #membership_main .container .container_flex{
        width: 100%;
    }
    #membership_main .donate_section{
        width: 95%;
    }
}

#common_contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 200px auto 70px;
}
#common_contact h2{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#common_contact h2:after{
    content: "";
    width: 160px;
    height: 1.8px;
    margin-top: 40px;
    background: #707070;
    z-index: 99;
}
#common_contact p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2.5em;
}
#common_contact p:first-of-type{
    position: relative;
    padding-top: 20px;
}
#common_contact a{
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 1s;
}
#common_contact a span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#common_contact .contact_btn {
    display: inline-block;
    position: relative;
    width: 430px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#common_contact .contact_btn::before,
#common_contact .contact_btn::after {
    content: "";
    width: 440px;
    height: 70px;
    position: absolute;
}
#common_contact .contact_btn::before {
    top: 0;
    left: 0;
    border-top: #000 1px solid;
    border-left: #000 1px solid;
}
#common_contact .contact_btn::after {
    bottom: 0;
    right: 0;
    border-bottom: #000 1px solid;
    border-right: #000 1px solid;
}
#common_contact .contact_btn:hover{
    background-color: rgba(205,205,205,1);
}
#common_contact p:last-of-type{
    font-size: 0.8rem;
    margin-bottom: 20px;
}
#common_contact address{
    margin-top: 50px;
    font-size: 1.3rem;
    font-style: normal;
}
  
/*common_map*/
.common_map iframe{
    width: 100%;
    margin-bottom: 150px;
}
/* contactレスポンシブ */
@media screen and (max-width: 768px) {
    #common_contact .contact_btn {
      width: 70%;
      min-width: 330px;
    }
    #common_contact .contact_btn::before,
    #common_contact .contact_btn::after {
      width: 103%;
    }
}